.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 5rem;
}

.header h2 {
  margin: 0;
}

.mascot {
  display: flex;
  align-items: center;
}
.mascot img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.content {
  display: flex;
  gap: 20px;
}
.left-column {
  flex: 1;
}
.right-column {
  flex: 1;
}
.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
.group-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.group-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.members {
  font-size: 14px;
  color: #666;
}
.schedule {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.vertical-wrapper {
  display: flex;
  gap: 2rem;
}
.vertical-wrapper .action-button {
  height: 12rem;
}

.action-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 24px;
  text-decoration: none;
}

.action-button span {
  background-color: #555;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
